html {
  font-family: sans-serif;
}
body {
  margin: 0;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.untouchable {
  -webkit-user-select: none; /* Safari & Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none;
}

.modal,
.modal-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
}
.modal {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.modal-active {
  opacity: 1;
}
.modal-inactive {
  opacity: 0;
}
.modal-container {
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: center;
}
