.error {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
    circle at 50% 140%,
    #0a3366 0%,
    #081a33 30%,
    #020912 60%,
    #000 90%
  );
}

.error-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-content {
  position: fixed;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: pre-wrap;
}
.error-content h1 {
  margin: 0;
  font-size: 130px;
  color: white;
  -webkit-box-reflect: below 15px
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.5) 100%
    );
}
.error-content h5 {
  margin: 0;
  font-size: 70px;
  color: white;
  -webkit-box-reflect: below 5px
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.2) 100%
    );
}

.error-content-spinner {
  height: 15vh;
  width: 15vw;
  text-align: center;
}
.error-content-spinner svg {
  max-width: 100%;
  max-height: 100%;
}
